<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap'>
  </head>
  <body>
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="segment">
        <h1>Create Blog</h1>
      </div>
      <label>
        <input type="text" placeholder="Title" name="input_title" required />
      </label>
      <label>
        <input type="text" placeholder="Body" name="input_body" required />
      </label>
      <label>
        <input type="url" placeholder="Blog URL" name="input_url" required />
      </label>
      <label>
        <input type="file" placeholder="Image" name="input_image" required />
      </label>
      <button class="red" type="submt"><i class="icon ion-md-lock"></i> Create</button>
      <div class="segment">
        <a href="{% url 'product_home' %}"><button class="unit" type="button"><i class="icon ion-md-home"></i></button><a>
      </div>
    </form>
    <!-- {% if error %}
    <div class="segment">
      <h1>{{ error }}</h1>
    </div>
    {% endif %} -->
</body>
</html>
