{% load staticfiles %}
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Praveen Kumar</title>
        <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
        <script src="https://kit.fontawesome.com/aa09fdd343.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div class="container">
            <div class="box">
                <div class="title">
                    <span class="block"></span>
                    <h1>PRAVEEN KUMAR<span></span></h1>
                </div>
                <div class="role">
                    <div class="block"></div>
                    <p>MACHINE LEARNING ENGINEER / WEB DEVELOPER / CREATIVE &amp; SIMPLE</p>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="#" class="btn btn-white btn-animate"><i class="fa fa-user"></i> About</a>
            <a href="#" class="btn btn-white btn-animate"><i class="fa fa-laptop"></i> Works</a>
            <a href="{% url 'all_blogs' %}" class="btn btn-white btn-animate"><i class="fas fa-pen"></i> Blogs</a>
            <a href="#" class="btn btn-white btn-animate"><i class="fa fa-map"></i> Contact</a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/praveen-kumar-inbox/" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span> - LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/inboxpraveen" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <span> - Github</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/InboxPraveen" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span> - Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/@pklappy21" target="_blank">
                        <i class="fa fa-medium" aria-hidden="true"></i>
                        <span> - Medium</span>
                    </a>
                </li>
            </ul>
        </div>
        <script src="{% static 'js/style_home.js' %}"></script>
    </body>
</html>
