section{
  margin-top: 18vh;
  width: 80vw;
  text-align: center;
}
article{
  width: 100%;
}
img{
  width: 80vw;
  height: 40vw;
}
.entry__header {
  width: 100%;
}
a{
  text-decoration: none;
}
ul,li{
  display: inline;
  text-align: center;
  font-size: 20px;
  margin: 1%;
}

.date{
  color: darkgrey;
}
.lead{
  font-size: 20px;
  padding: 2em;
  line-height: 1.6em;
  color:#242424;
  font-family: cursive;
}
.lead::first-letter{
  font-size: 44px;
  color: white;
  background: black;
  border-radius: 2px;
}
