* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body {
  line-height: 1.5;
  background: #E0E5EC;
}

header {
  width: 95%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}
header ul {
  padding: 1.2em 0 0.5em;
}
header span {
  padding: 0 0 0 0.5em;
}
header span, header i {
  color: #2B2D42;
}
header i:nth-of-type(2) {
  cursor: pointer;
}

.row {
  width: 100%;
  -webkit-box-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
          flex: auto;
}
.product--blue {
  background: linear-gradient(-45deg, #92DCE5 10%, #E0E5EC 10%);
}
.product--orange {
  background: linear-gradient(-45deg, #EF6F6C 10%, #E0E5EC 10%);
}
.product--red {
  background: linear-gradient(-45deg, #E84855 10%, #E0E5EC 10%);
}
.product--green {
  background: linear-gradient(-45deg, #70C1B3 10%, #E0E5EC 10%);
}
.product--yellow {
  background: linear-gradient(-45deg, #E8DB7D 10%, #E0E5EC 10%);
}
.product--pink {
  background: linear-gradient(-45deg, #FF386D 10%, #E0E5EC 10%);
}
.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}
.product_inner p {
  color: rgba(255, 255, 255, 1);
    margin: 4% 2% 2% 2%;
    font-size: 1.5em;
    text-align: center;
text-shadow: 2px 2px 2px black;
}
.product_inner a {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 5px;
    text-decoration: none;
  padding: 1em 3em;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    margin: 2%;
  margin: 1em 0 0 0;
    /* text-shadow: 2px 2px 2px black; */
  background: transparent;
  cursor: pointer;
  -webkit-transition: background ease-in .25s;
  transition: background ease-in .25s;
}
.product_inner a:hover {
  background: white;
  color: #434343;
}

.product_inner a:hover:before {
  color: #2B2D42;
}
.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.hamburger {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 3.5em;
  background-color: transparent;
  border: 1px solid #231f20;
  border-radius: 100%;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}
@media (min-width: 54rem) {
  .hamburger {
    top: 1em;
    right: 1em;
  }
}
@media (min-width: 91rem) {
  .hamburger {
    top: 1em;
    right: 1em;
  }
}
.hamburger:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: calc(3.5em - 8px);
  width: calc(3.5em - 8px);
  border: 1px solid #231f20;
  border-radius: 100%;
  transition: border-color 300ms ease-in-out;
}
.js-menu-open .hamburger {
  border-color: #231f20;
  transition-delay: 300ms;
}
@media (min-width: 54rem) {
  .js-menu-open .hamburger {
    border-color: #fff;
  }
}
.js-menu-open .hamburger:before {
  border-color: #231f20;
  transition-delay: 300ms;
}
@media (min-width: 54rem) {
  .js-menu-open .hamburger:before {
    border-color: #fff;
  }
}
.js-menu-closing .hamburger {
  cursor: wait;
}
.hamburger__container {
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.js-hamburger .hamburger__container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition-delay: 300ms;
}
.hamburger__top, .hamburger__middle, .hamburger__bottom {
  display: block;
  height: 1px;
  width: 1.85em;
  background-color: #231f20;
}
.js-menu-open .hamburger__top, .js-menu-open .hamburger__middle, .js-menu-open .hamburger__bottom {
  background-color: #231f20;
}
@media (min-width: 54rem) {
  .js-menu-open .hamburger__top, .js-menu-open .hamburger__middle, .js-menu-open .hamburger__bottom {
    background-color: #fff;
  }
}
.hamburger__middle {
  margin-top: 6px;
  margin-bottom: 6px;
  opacity: 1;
  transition: margin 300ms ease-in-out 300ms, opacity 0s ease-in-out 300ms;
}
.js-menu-open .hamburger__middle {
  margin-top: -2px;
  margin-bottom: -2px;
  opacity: 0;
  transition: margin 300ms ease-in-out, opacity 0s ease-in-out;
}
.hamburger__top, .hamburger__bottom {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: background-color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.js-menu-open .hamburger__top, .js-menu-open .hamburger__bottom {
  transition-delay: 300ms;
}
.js-menu-open .hamburger__top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.js-menu-open .hamburger__bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 54rem) {
  .menu {
    min-height: 40em;
  }
}
.js-menu-visible .menu {
  z-index: 998;
  visibility: visible;
  opacity: 1;
}
.menu__container, .menu__img {
  position: absolute;
  top: 0;
  height: 100%;
}
.menu__container {
  left: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.menu__img {
  position: relative;
  display: none;
}
@media (min-width: 54rem) {
  .menu__img {
    display: block;
  }
}
.menu__img .absolute-bg {
  opacity: 0;
  transition: opacity 450ms cubic-bezier(0.25, 0.1, 0.25, 1) 300ms;
}
.js-menu-open .menu__img .absolute-bg {
  opacity: 1;
}
.menu__nav {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.menu__nav:first-of-type {
  flex-basis: 45%;
  max-width: 45%;
  border-right: 1px solid #000;
}
.menu__nav:last-of-type {
  flex-basis: 55%;
  max-width: 55%;
}
@media (min-width: 65rem) {
  .menu__nav:last-of-type {
    flex-basis: 45%;
    max-width: 45%;
    border-right: 1px solid #000;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
}
.menu__item {
  overflow: hidden;
}
.menu__item:first-child {
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.menu__item:not(:first-child):not(:last-child) {
  margin-bottom: 0.25em;
}
.menu__item:nth-child(2) .menu__link {
  transition-delay: 200ms;
}
.menu__item:nth-child(3) .menu__link {
  transition-delay: 300ms;
}
.menu__item:nth-child(4) .menu__link {
  transition-delay: 400ms;
}
.menu__item:nth-child(5) .menu__link {
  transition-delay: 500ms;
}
.menu__item:nth-child(6) .menu__link {
  transition-delay: 600ms;
}
.menu__item--contact {
  margin-top: auto;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.menu__item span {
  opacity: 0;
  transition: opacity 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu__item span:nth-child(1) {
  transition-delay: 0.1s;
}
.menu__item span:nth-child(2) {
  transition-delay: 0.2s;
}
.menu__item span:nth-child(3) {
  transition-delay: 0.3s;
}
.js-menu-open .menu__item span {
  opacity: 1;
}
.menu__link {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  color: #000;
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #000;
  transition: width 400ms ease;
}
.menu__link:hover:after {
  width: 100%;
}
.js-menu-open .menu__link {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__sidebar {
  position: relative;
  display: none;
}
@media (min-width: 65rem) {
  .menu__sidebar {
    display: block;
    flex-basis: 10%;
    max-width: 10%;
  }
}
.menu__flip {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.menu__copy {
  display: inline-flex;
  justify-content: space-between;
  width: 100vh;
  padding-right: 2em;
  padding-left: 2em;
}
.menu__copy > span {
  font-size: 0.8em;
  opacity: 0;
  transition: opacity 600ms cubic-bezier(0.25, 0.1, 0.25, 1) 100ms;
}
.menu__copy > span:nth-child(1) {
  transition-delay: 0.1s;
}
.menu__copy > span:nth-child(2) {
  transition-delay: 0.2s;
}
.menu__copy > span:nth-child(3) {
  transition-delay: 0.3s;
}
.js-menu-open .menu__copy > span {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms;
}
.menu__external {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
}
.menu__info {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
a {
  text-decoration: none;
}

.js-overflow {
  overflow: hidden;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
